src/dag/* @diml
src/fiber/* @diml
src/ocaml-syntax-shims/* @diml
src/memo/* @diml
src/xdg/* @diml
src/catapult/* @emillon

src/dune/scheduler.* @diml
src/dune/build_system.* @diml
src/dune/build.* @diml

bootstrap.ml @diml

src/ocaml-config/* @diml @rgrinberg @dra27

src/stdune/* @diml @rgrinberg

src/dune_lang/* @diml @rgrinberg

src/dune/menhir.* @fpottier

src/dune/odoc.* @rginberg @antron

src/dune/merlin.* @aalekseyev

otherlibs/configurator/* @rgrinberg

src/dune/format_rules.* @emillon

src/dune/js_of_ocaml* @hhugo

editor-integration/emacs/* @Chris00

doc/* @emillon @rgrinberg @nojb

src/dune/coq_* @ejgallego
