*~
*.cmi
*.cmo
*.cma
*.cmx
*.o
*.cmxa
*.cmxs
*.a
*.so
META

Makefile.config
findlib.conf
ocargs.log
src/findlib/depend
src/findlib/findlib_config.ml
src/findlib/fl_meta.ml
src/findlib/ocaml_args.ml
src/findlib/ocamlfind
src/findlib/topfind
src/findlib/topfind.ml
tools/extract_args/extract_args
