*.ml*             text eol=lf linguist-language=OCaml
*.rst             text eol=lf
*.c               text eol=lf
*.t               text eol=lf -linguist-detectable
*.ps1             text working-tree-encoding=UTF-16 eol=crlf
dune              text eol=lf
dune.inc          text eol=lf
.gitignore        text eol=lf
.gitattributes    text eol=lf

# Files in ppx/ are marked as generated and binary so they are not displayed by
# `git diff`, `git grep` or on github
ppx/**/*.ml*      binary linguist-generated=true
