_opam
_build
_boot
_perf
_coverage
__pycache__
*.install

# vim swap files
*.swp
*.swo

# emacs lock files
.#*

# vscode settings
.vscode

# git-ps hooks
.git-ps

.duneboot.*
Makefile.dev
src/dune_rules/setup.ml
result

.DS_Store
nix/profiles/
