build: [
  ["ocaml" "boot/bootstrap.ml" "-j" jobs]
  ["./_boot/dune.exe" "build" "dune.install" "--release" "--profile" "dune-bootstrap" "-j" jobs]
]
depends: [
  # Please keep the lower bound in sync with .github/workflows/workflow.yml,
  # dune-project and min_ocaml_version in bootstrap.ml
  ("ocaml" {>= "4.08"} | ("ocaml" {>= "4.02" & < "4.08~~"} & "ocamlfind-secondary"))
  "base-unix"
  "base-threads"
]
