name: OxCaml (experimental)

on:
  push:
    branches:
      - main
  workflow_dispatch:
  pull_request:

permissions:
  contents: read

jobs:
  oxcaml:
    name: Building Dune with OxCaml
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install OCaml
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: ocaml-variants.5.2.0+ox
          opam-repositories: |
            oxcaml: "git+https://github.com/oxcaml/opam-repository.git"
            default: "git+https://github.com/ocaml/opam-repository.git"
          opam-pin: false

      - name: Pin deps 
        run: opam pin add -n . --with-version=3.20.2+ox

      - name: Install deps 
        run: opam install csexp pp re spawn uutf ./dune.opam

      - name: Build dune
        run: opam exec -- make bootstrap

      - name: Run OxCaml tests
        run: opam exec -- ./dune.exe test ./test/blackbox-tests/test-cases/oxcaml
